.Homepage {
  .row {
    display: block;
    padding: 20px;
  }
  .col {
    display: inline-block;
    padding: 20px;
    margin: 0;
    display: inline-block;
    width: calc(50% - 40px);
    vertical-align: top;
  }
  @media screen and (max-width: 700px) {
    .col {
      width: calc(100% - 40px);
    }
  }
}
